<!DOCTYPE html>
<html lang="toLang">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <title>tp-python</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Translator</span>
    </nav>

    <div class="jumbotron jumbotron-fluid py-3 px-3">
      <p class="lead">
        This is simple app will translate any language to polish.
      </p>
      <a href="https://github.com/tomaszpionka" target="_blank"
        ><i class="fa fa-github" style="font-size: 36px;"></i
      ></a>
      <hr class="my-4" />
      <p>
        It uses Googletrans Python library.
      </p>
      <p class="lead">
        <a
          class="btn btn-primary"
          href="https://pypi.org/project/googletrans/"
          target="_blank"
          role="button"
          >Learn more</a
        >
      </p>
    </div>
    <div class="container">
      <form action="{{url_for('home')}}" method="POST">
        <div class="card">
          <div class="card-header bg-dark">
            <div class="row">
              <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-primary">Translate</button>
              </div>
            </div>
          </div>
          <div class="card-body" style="min-height: 20vh;">
            <h5 class="card-title">{{selectFrom}}</h5>
            <p class="card-text">
              <textarea
                style="border: none; padding: 0 0;"
                type="text"
                class="form-control"
                id="fromLang"
                name="fromLang"
                aria-describedby="plHelp"
                placeholder="type something"
                maxlength="5000"
              >
{{fromLang}}</textarea
              >
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body" style="min-height: 20vh;">
            <h5 class="card-title">{{selectTo}}</h5>
            <p class="card-text">{{toLang}}</p>
          </div>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- <script type="text/javascript"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
